* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(./img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #container {
    width: 90%;
    margin: 30px 100px;
    /* background: rgba(0, 0, 0, 0.3); */
  }

  
  #title {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 75px;
    margin-top: 30px;
    /* margin: 0 auto 1rem; */
    text-align: center;
  }

  
  h1{
    display: inline-block; /* Eleman üzerinde bir genişlik ve yükseklik ayarlamaya izin vermesidir. */
    font-family: 'Bowlby One SC', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 0%;
    letter-spacing: 5%;
    color: #ffffff;
    margin-top: 45px;
}

span {
    color: #ff0000;
}

#description{
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-size: 23px;

    
}

p{
    
    color: #ffffff;
}

#form-area {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    /* padding-top: 2rem; */
  }


#f-box{
    width: 390px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px auto 0px;
    position: relative;
    padding:10px;
    
}

#name,#age,#mail,#content,#feedback{
    width:100%;
    padding:10px;
    margin-top:10px;
}

.box, .box1, .box2 {
    
    margin: 10px 40px 20px;
    color: #ffffff; 
      

}

.box1 label , .box2 label{
    display: inline-block;
    margin-top: 20px;

}

#feedback{
    resize: none;
    width: 100%;
    height: 91px;
}

.box3 {
    text-align: center;
}

#submit{
    
    width: 160px;
    height: 45px;
    margin: auto;
    color: #ffffff;
    background: #FF0000;
    border-radius: 50px;

    
    font-weight: 400;
    font-size: 16px;
    line-height: 0%;


}



